<!-- <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
<span class="ms-2 mt-2 text-primary">Loading...</span> -->

<!-- Lottie loader -->
<!-- <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script> -->
<dotlottie-player src="https://lottie.host/db92bbb2-5910-4d9c-9d4a-e2ffa86cd88a/zXiBuTq5xB.lottie"
    background="transparent" speed="1" style="width: 250px; height: 250px" loop autoplay></dotlottie-player>